<h2>რეცენზიები</h2>
{% for review in reviews %}
  <div class="card p-2 m-2">
    <p>{{ review.content }}</p>
    <form action="{{ url_for('auth.delete_review', review_id=review.id) }}" method="POST">
      <button class="btn btn-danger btn-sm">წაშლა</button>
    </form>
  </div>
{% endfor %}

<h2>ციტატები</h2>
{% for quote in quotes %}
  <div class="card p-2 m-2">
    <blockquote>{{ quote.text }}</blockquote>
    <form action="{{ url_for('auth.delete_quote', quote_id=quote.id) }}" method="POST">
      <button class="btn btn-danger btn-sm">წაშლა</button>
    </form>
  </div>
{% endfor %}
