<footer class="fexi text-white pt-4 pb-2 mt-5">
  <div class="container text-md-left">
    <div class="row">

      <!-- საიტის აღწერა -->
      <div class="col-md-4">
        <div class="d-flex fexiti mb-3">
         <img src="/static/images/logo1.png" alt="Logo" width="60" class="mb-2 d-flex">
        <h1 class="text-uppercase d-flex p-4" style="font-family: mainf;">451 SHELF</h1>
        </div>

        <p class="lasttxt">451 გრადუსზე იწყება კითხვით თავისუფლება</p>

      </div>

      <!-- ლინკები -->
      <div class="col-md-3">
        <h5 class="text-uppercase foottxt">მენიუ</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white text-decoration-none  lasttxt">მთავარი</a></li>
          <li><a href="/about" class="text-white text-decoration-none  lasttxt">ჩვენს შესახებ</a></li>
          <li><a href="/popular" class="text-white text-decoration-none  lasttxt">პოპულარული</a></li>
          <li><a href="/top-critics" class="text-white text-decoration-none  lasttxt">ტოპ კრიტიკოსები</a></li>
          <li><a href="/quotes" class="text-white text-decoration-none  lasttxt">ციტატები</a></li>
          <li><a href="/top-quoters" class="text-white text-decoration-none  lasttxt">ტოპ ციტატორები</a></li>


        </ul>
      </div>



      <!-- სოციალური ბმულები -->
      <div class="col-md-3">
        <h5 class="text-uppercase foottxt">გამოგვყევი</h5>
        <a href="#" class="text-white  soctxt  me-3 my-3"><i class="bi bi-facebook  "></i> <img src="/static/images/facebook.png" alt="facebook" width="20px" class="mx-1">  Facebook</a><br>
        <a href="#" class="text-white soctxt  me-3 my-3"><i class="bi bi-instagram "></i> <img src="/static/images/insta.png" alt="intagram" width="20px" class="mx-1"> Instagram</a><br>
        <a href="#" class="text-white  soctxt my-3"><i class="bi bi-linkedin "></i> <img src="/static/images/linkedin.png" alt="linkedin" width="20px" class="mx-1"> LinkedIn</a>
      </div>

      <div class="col-md-2">
          <a href="https://tbcbank.ge/ka/tbc-education" class="tbc"><img class="tbclogo" src="/static/images/tbc-logo.png"> </a>
      </div>

    </div>
  </div>

  <div class="text-center py-3 mt-4 border-top border-secondary">
    © 2025 451 SHELF. All rights reserved. <br>
    Designed by Nino Nozadze
  </div>
</footer>