{% extends "base.html" %}

{% block content %}
<h2 class="mt-4 mb-3 fifitxt text-light">ტოპ კრიტიკოსი</h2>
<ul class="list-group">
    {% for user in critics %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ url_for('main.reviews_by_author', username=user.username) }}">{{ user.username }}</a>
        <span class="badge badge-primary badge-pill">{{ user.review_count }}</span>
    </li>
    {% endfor %}
</ul>

<br>
<br>
<br>
<br>
<br>

{% endblock %}

